Repository team-pravo/pravo-client, pull requests merged in 2024-11, with the labels that each got.

#32 feat: Tosspayments SDK 연동 및 보증금 결제 시스템 구현
  lib/assets/constants.dart
  lib/features/auth/presentation/viewmodels/router_provider.dart
  lib/features/core/presentation/widgets/depth2_app_bar_widget.dart
  lib/features/core/presentation/widgets/navigation_bar_widget.dart
  lib/features/core/presentation/widgets/primary_button_widget.dart
  lib/features/core/presentation/widgets/promise_widget.dart
  lib/features/core/presentation/widgets/text_field_error_message_widget.dart
  lib/features/home/presentation/screens/home_screen.dart
  lib/features/home/presentation/widgets/current_point_widget.dart
  lib/features/home/presentation/widgets/today_promises_overview_widget.dart
  lib/features/home/presentation/widgets/upcoming_promises_widget.dart
  lib/features/new/presentation/screens/deposit_payment_complete_screen.dart
  lib/features/new/presentation/screens/deposit_payment_screen.dart
  lib/features/new/presentation/screens/deposit_screen.dart
  lib/features/new/presentation/screens/new_details_screen.dart
  lib/features/new/presentation/viewmodels/deposit_payment_provider.dart
  lib/features/new/presentation/viewmodels/deposit_payment_state.dart
  lib/features/new/presentation/widgets/input_field_widget.dart
  lib/features/promise/presentation/screens/confirm_attendance_screen.dart
  lib/features/promise/presentation/screens/promise_detail_screen.dart
  lib/features/promise/presentation/screens/settlement_complete_screen.dart
  lib/features/promise/presentation/widgets/confirm_attendance_button_widget.dart
  lib/features/promise/presentation/widgets/deposit_widget.dart
  lib/features/promise/presentation/widgets/icon_and_text_widget.dart
  lib/features/promise/presentation/widgets/image_and_text_widget.dart
  lib/features/promise/presentation/widgets/participant_and_status_widget.dart
  lib/features/promise/presentation/widgets/participants_and_status_widget.dart
  lib/features/promise/presentation/widgets/participation_status_label_widget.dart
  lib/features/promise/presentation/widgets/promise_overview_widget.dart
  lib/features/promise/presentation/widgets/promise_status_widget.dart
  lib/features/promises/presentation/screens/promise_detail_screen.dart
  lib/features/promises/presentation/widgets/participant_and_status_widget.dart
  lib/features/promises/presentation/widgets/promise_list_widget.dart
  lib/features/setting/presentation/screens/profile_edit_screen.dart
  lib/features/setting/presentation/widgets/nickname_edit_widget.dart
  lib/features/setting/presentation/widgets/profile_image_edit_widget.dart
  lib/features/setting/presentation/widgets/profile_preview_widget.dart
  lib/features/setting/presentation/widgets/text_button_widget.dart
  lib/features/setting/presentation/widgets/text_buttons_widget.dart
Labels: FEAT

#37 feat: 딥링크 기능 구현 및 반응형 디자인 도입
  android/app/src/main/AndroidManifest.xml
  ios/Podfile.lock
  ios/Runner/Info.plist
  lib/assets/constants.dart
  lib/features/core/presentation/widgets/alert_dialog_widget.dart
  lib/features/core/presentation/widgets/dialog_button_widget.dart
  lib/features/core/presentation/widgets/primary_button_widget.dart
  lib/features/new/presentation/screens/deposit_payment_complete_screen.dart
  lib/features/new/presentation/screens/deposit_payment_screen.dart
  lib/features/new/presentation/screens/new_details_screen.dart
  lib/features/new/presentation/screens/new_screen.dart
  lib/features/new/presentation/widgets/go_to_desposit_screen_button_widget.dart
  lib/features/new/presentation/widgets/input_field_widget.dart
  lib/features/new/presentation/widgets/time_picker_widget.dart
  lib/features/promise/presentation/screens/confirm_attendance_screen.dart
  lib/features/promise/presentation/screens/promise_detail_screen.dart
  lib/features/promise/presentation/screens/settlement_complete_screen.dart
  lib/features/setting/presentation/screens/setting_screen.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: FEAT

#39 fix: Dio의 BaseUrl 프라보 서버 호스트로 설정
  lib/features/core/dio/dio_provider.dart
  pubspec.lock
Labels: FIX

#48 refactor: promises_repository 추상화
  lib/features/promises/data/repositories/promises_repository_impl.dart
  lib/features/promises/domain/entities/promise.dart
  lib/features/promises/domain/repositories/promises_repository.dart
  lib/features/promises/domain/usecases/get_promises_usecase.dart
  lib/features/promises/presentation/screens/promises_screen.dart
  lib/features/promises/presentation/viewmodels/promises_view_model.dart
  lib/features/promises/presentation/widgets/promise_list_widget.dart
Labels: REFACTOR

#50 feat: 주문 생성 API 연동
  lib/features/new/data/models/payment_model.dart
  lib/features/new/data/repositories/payment_repository_impl.dart
  lib/features/new/domain/entities/payment.dart
  lib/features/new/domain/repositories/payment_repository.dart
  lib/features/new/domain/usecases/get_payment_usecase.dart
  lib/features/new/presentation/screens/deposit_payment_screen.dart
  lib/features/new/presentation/screens/new_details_screen.dart
  lib/features/new/presentation/viewmodels/payment_view_model.dart
  lib/features/new/presentation/widgets/go_to_desposit_screen_button_widget.dart
  lib/features/promises/data/repository/promises_repository.dart
  lib/features/promises/presentation/screens/promises_screen.dart
Labels: FEAT

#51 feat: 약속 상세 조회 API 연동
  lib/app/formatter.dart
  lib/features/core/dio/dio_provider.dart
  lib/features/promise/data/models/participant_model.dart
  lib/features/promise/data/models/promise_model.dart
  lib/features/promise/data/repositories/promise_repository_impl.dart
  lib/features/promise/domain/entities/participant.dart
  lib/features/promise/domain/entities/participant_status.dart
  lib/features/promise/domain/entities/promise.dart
  lib/features/promise/domain/repositories/promise_repository.dart
  lib/features/promise/domain/usecases/get_promise_usecase.dart
  lib/features/promise/presentation/screens/promise_detail_screen.dart
  lib/features/promise/presentation/viewmodels/promise_view_model.dart
  lib/features/promise/presentation/widgets/confirm_attendance_button_widget.dart
  lib/features/promise/presentation/widgets/deposit_widget.dart
  lib/features/promise/presentation/widgets/image_and_text_widget.dart
  lib/features/promise/presentation/widgets/participant_and_status_widget.dart
  lib/features/promise/presentation/widgets/participants_and_status_widget.dart
  lib/features/promise/presentation/widgets/participation_status_label_widget.dart
  lib/features/promise/presentation/widgets/promise_overview_widget.dart
Labels: FEAT

#55 fix: 미인증 시 리디렉션 로직 개선
  lib/features/auth/presentation/viewmodels/auth_provider.dart
  lib/features/auth/presentation/viewmodels/oauth_provider.dart
  lib/features/auth/presentation/viewmodels/router_provider.dart
  lib/features/core/dio/dio_provider.dart
Labels: FIX

#61 feat: 에러 스크린 구현
  lib/features/auth/presentation/viewmodels/router_provider.dart
  lib/features/error/presentation/screens/error_screen.dart
  lib/features/home/presentation/screens/home_screen.dart
  pubspec.lock
Labels: FEAT

#60 feat: 결제 요청 API 연동
  lib/features/core/presentation/widgets/navigation_bar_widget.dart
  lib/features/new/data/models/payment_model.dart
  lib/features/new/data/models/payment_request_model.dart
  lib/features/new/data/models/payment_response_model.dart
  lib/features/new/data/repositories/payment_repository_impl.dart
  lib/features/new/domain/entities/payment.dart
  lib/features/new/domain/entities/payment_request.dart
  lib/features/new/domain/entities/payment_response.dart
  lib/features/new/domain/entities/promise_information.dart
  lib/features/new/domain/repositories/payment_repository.dart
  lib/features/new/domain/usecases/get_payment_usecase.dart
  lib/features/new/domain/usecases/request_payment_usecase.dart
  lib/features/new/domain/usecases/update_promise_usecase.dart
  lib/features/new/presentation/screens/deposit_payment_screen.dart
  lib/features/new/presentation/screens/new_screen.dart
  lib/features/new/presentation/viewmodels/date_provider.dart
  lib/features/new/presentation/viewmodels/deposit_payment_provider.dart
  lib/features/new/presentation/viewmodels/payment_view_model.dart
  lib/features/new/presentation/viewmodels/promise_details_provider.dart
  lib/features/new/presentation/viewmodels/promise_details_view_model.dart
  lib/features/new/presentation/viewmodels/time_provider.dart
  lib/features/new/presentation/widgets/date_picker_widget.dart
  lib/features/new/presentation/widgets/go_to_desposit_screen_button_widget.dart
  lib/features/new/presentation/widgets/promise_details_input_fields_widget.dart
  lib/features/new/presentation/widgets/time_picker_widget.dart
Labels: FEAT

#70 fix: 마이페이지 API 경로 변경
  lib/features/member/data/repositories/member_repository_impl.dart
Labels: FIX
