Repository team-pravo/pravo-client, pull requests merged in 2024-12, with the labels that each got.

#75 feat: sentry 연동
  ios/Podfile.lock
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: FEAT

#64 feat: 결제 승인 API 연동
  lib/features/new/data/repositories/payment_repository_impl.dart
  lib/features/new/domain/repositories/payment_repository.dart
  lib/features/new/domain/usecases/confirm_payment_usecase.dart
  lib/features/new/presentation/screens/deposit_payment_complete_screen.dart
  lib/features/new/presentation/screens/deposit_payment_screen.dart
  lib/features/new/presentation/viewmodels/deposit_payment_view_model.dart
  lib/features/promise/presentation/screens/promise_detail_screen.dart
Labels: FEAT

#66 feat: 약속 상태 변경 API 연동
  lib/features/new/data/repositories/payment_repository_impl.dart
  lib/features/new/domain/repositories/payment_repository.dart
  lib/features/new/domain/usecases/change_promise_status_usecase.dart
  lib/features/new/presentation/viewmodels/deposit_payment_view_model.dart
  lib/features/new/presentation/viewmodels/payment_view_model.dart
  lib/features/new/presentation/viewmodels/promise_id_provider.dart
Labels: FEAT

#81 fix: promiseDate -> scheduledAt 네이밍 변경
  lib/features/core/presentation/widgets/promise_widget.dart
  lib/features/promise/data/models/promise_model.dart
  lib/features/promise/domain/entities/promise.dart
  lib/features/promise/presentation/screens/promise_detail_screen.dart
  lib/features/promise/presentation/widgets/promise_overview_widget.dart
  lib/features/promises/data/models/promise_model.dart
  lib/features/promises/domain/entities/promise.dart
  lib/features/promises/presentation/widgets/promise_list_widget.dart
Labels: FIX

#82 fix: 렌더링 이슈 해결
  lib/features/new/presentation/screens/new_details_screen.dart
Labels: FIX

#77 feat: 모임원 약속 참가 및 결제 요청 API 연동
  android/app/src/main/AndroidManifest.xml
  ios/Runner/Info.plist
  lib/features/auth/presentation/viewmodels/router_provider.dart
  lib/features/join/data/repositories/join_repository_impl.dart
  lib/features/join/domain/repositories/join_repository.dart
  lib/features/join/domain/usecases/join_promise_usecase.dart
  lib/features/join/domain/usecases/request_payment_usecase.dart
  lib/features/join/presentation/screens/join_complete_screen.dart
  lib/features/join/presentation/screens/join_deposit_screen.dart
  lib/features/join/presentation/viewmodels/join_view_model.dart
  lib/features/new/data/repositories/payment_repository_impl.dart
  lib/features/new/presentation/screens/deposit_payment_complete_screen.dart
  lib/features/new/presentation/viewmodels/deposit_payment_view_model.dart
  lib/features/promise/data/repositories/promise_repository_impl.dart
  lib/features/promise/domain/entities/button_status.dart
  lib/features/promise/domain/entities/participant_status.dart
  lib/features/promise/presentation/screens/promise_detail_screen.dart
  lib/features/promise/presentation/viewmodels/promise_view_model.dart
  lib/features/promise/presentation/widgets/promise_action_button_widget.dart
  lib/features/promises/data/repositories/promises_repository_impl.dart
  lib/features/promises/presentation/widgets/promise_list_widget.dart
  lib/main.dart
Labels: FEAT

#84 chore: TestFilght에 업로드 수출규정 메시지 해결
  ios/Runner/Info.plist
Labels: CHORE

#89 fix: 빌드 시 에러 수정
  ios/Runner/Info.plist
Labels: FIX

#88 fix: 약속 취소 API 경로 수정
  lib/features/promise/data/repositories/promise_repository_impl.dart
Labels: FIX

#99 feat: 홈 화면 오늘의 약속 위젯에 carousel_slider 적용
  lib/features/home/presentation/widgets/today_promises_overview_widget.dart
  pubspec.lock
  pubspec.yaml
Labels: FEAT

#87 feat: 모임원 예약금 결제 API 연동 완성
  lib/features/join/data/repositories/join_repository_impl.dart
  lib/features/join/domain/entities/join_promise.dart
  lib/features/join/domain/repositories/join_repository.dart
  lib/features/join/domain/usecases/change_participant_status_usecase.dart
  lib/features/join/domain/usecases/confirm_payment_usecase.dart
  lib/features/join/domain/usecases/convert_promise_to_join_promise_usecase.dart
  lib/features/join/domain/usecases/request_payment_usecase.dart
  lib/features/join/presentation/screens/join_complete_screen.dart
  lib/features/join/presentation/screens/join_deposit_screen.dart
  lib/features/join/presentation/viewmodels/join_payment_state.dart
  lib/features/join/presentation/viewmodels/join_payment_view_model.dart
  lib/features/join/presentation/viewmodels/join_promise_view_model.dart
  lib/features/join/presentation/viewmodels/join_view_model.dart
  lib/features/join/presentation/viewmodels/payment_response_provider.dart
  lib/features/new/data/repositories/payment_repository_impl.dart
  lib/features/new/domain/repositories/payment_repository.dart
  lib/features/new/domain/usecases/request_payment_usecase.dart
  lib/features/new/presentation/screens/deposit_payment_screen.dart
  lib/features/new/presentation/viewmodels/payment_view_model.dart
  lib/features/new/presentation/widgets/go_to_desposit_screen_button_widget.dart
  lib/features/payment/data/models/payment_response_model.dart
  lib/features/payment/domain/entities/payment_response.dart
  lib/features/payment/presentation/viewmodels/deposit_payment_state.dart
  lib/features/payment/presentation/viewmodels/deposit_payment_view_model.dart
  lib/features/payment/presentation/viewmodels/organizer_payment_view_model.dart
  lib/features/promise/presentation/screens/promise_detail_screen.dart
  lib/features/promise/presentation/widgets/promise_action_button_widget.dart
Labels: FEAT

#95 feat: 약속 정산 API 연동
  lib/features/auth/presentation/viewmodels/router_provider.dart
  lib/features/promise/presentation/screens/confirm_attendance_screen.dart
  lib/features/promise/presentation/screens/settlement_complete_screen.dart
  lib/features/promise/presentation/widgets/promise_action_button_widget.dart
  lib/features/settlement/data/models/settlement_request_model.dart
  lib/features/settlement/data/models/settlement_response_model.dart
  lib/features/settlement/data/repositories/settlement_repository_impl.dart
  lib/features/settlement/domain/entites/attendee.dart
  lib/features/settlement/domain/entites/settlement.dart
  lib/features/settlement/domain/repositories/settlement_repository.dart
  lib/features/settlement/domain/usecases/confirm_settlement_usecase.dart
  lib/features/settlement/presentation/screens/confirm_attendance_screen.dart
  lib/features/settlement/presentation/screens/settlement_complete_screen.dart
  lib/features/settlement/presentation/viewmodels/attendees_view_model.dart
  lib/features/settlement/presentation/viewmodels/selected_attendees_view_model.dart
  lib/features/settlement/presentation/viewmodels/settlement_view_model.dart
  lib/features/settlement/presentation/widgets/attendance_list_widget.dart
  lib/features/settlement/presentation/widgets/attendance_selector_widget.dart
  lib/features/settlement/presentation/widgets/payout_points_widget.dart
  lib/features/settlement/presentation/widgets/refund_amount_widget.dart
Labels: FEAT

#102 feat: 약속 상세 페이지 정산 내역 연동
  lib/features/promise/data/models/promise_model.dart
  lib/features/promise/data/repositories/promise_repository_impl.dart
  lib/features/promise/domain/entities/button_status.dart
  lib/features/promise/domain/entities/promise.dart
  lib/features/promise/presentation/screens/promise_detail_screen.dart
  lib/features/promise/presentation/widgets/deposit_widget.dart
  lib/features/promise/presentation/widgets/promise_status_widget.dart
Labels: FEAT

#103 chore: 안드로이드 일부 기기(S23 등)에서 기설치된 앱이 있으면 앱이 크래시되는 현상 제거
  android/app/src/main/AndroidManifest.xml
Labels: CHORE

#92 feat: 포인트 내역 페이지 구현 및 연동
  lib/features/auth/presentation/viewmodels/router_provider.dart
  lib/features/point-log/data/models/point_log_model.dart
  lib/features/point-log/data/repositories/point_log_repository_impl.dart
  lib/features/point-log/domain/entities/point_log.dart
  lib/features/point-log/domain/entities/point_status.dart
  lib/features/point-log/domain/repositories/point_log_repository.dart
  lib/features/point-log/presentation/screens/point_log_screen.dart
  lib/features/point-log/presentation/viewmodels/get_point_log_view_model.dart
  lib/features/setting/presentation/widgets/text_buttons_widget.dart
Labels: FEAT

#104 fix: import 수정
  lib/features/auth/presentation/viewmodels/router_provider.dart
Labels: FIX
